{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Praya | Profile</title>
    
    <link href="https://fonts.googleapis.com/css?family=Nunito|Nunito+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'img/sun_PNG13427.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="container-fluid" id="body">
    <header>
        <div class="container">
        <h1 id="first">Abhipraya</h1>
        <h1 id="last">Tjondronegoro</h1>
        <nav class="nav justify-content-center">
            <a href="{% url 'home'  %}" class="nav-item nav-link">about me</a>
            <a href="#contact" class="nav-item nav-link">contact me</a>
            <a href="{% url 'music' %}" class="nav-item nav-link">music</a>
            <a href="{% url 'schedule' %}" class="nav-item nav-link">schedule</a>
        </nav>
    </div>
    </header>
    
    {% block content %}
    {% endblock %}

    <footer>
        <div class="container-fluid" id="contact">
            <div class="row w-100 m-0">
                <div class="col" id="contact-info">
                    <h2>Contact me</h2>
                    <div class="row">
                        <div class="col-sm-1"><img src="{% static 'img/Profile Page/Email.png'%}" alt=""></div>
                        <div class="col"><p>prayatjondro@gmail.com</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"><img src="{% static 'img/Profile Page/Line.png'%}" alt=""></div>
                        <div class="col"><p>prayatj</p></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-1"><img src="{% static 'img/Profile Page/Phone.png'%}" alt=""></div>
                        <div class="col"><p>081299076995</p></div>
                    </div>
                </div>

                <div class="col p-0" id="pic">
                    <img src="{% static 'img/contact-pic.png'%}" class="float-right" alt="">
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>