{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section>
        <div class="img-wrapper">
        <img id="profile-pic" src="{% static 'img/profile-pic.png'%}" alt="me!">
        </div>
        <div class="container" id="profile">
            <div class = "row" id="flex-container-1">
                <div id="identity" class="col-sm-9">
                    <h1>Abhipraya Tjondronegoro</h1>
                    <h2>1806191742</h2>
                    <h3>Jakarta, 4th of July</h3>
                </div>
                <div id="social-media" class="col-sm-3">
                    <a class="col"href="https://open.spotify.com/artist/5ByAOpFqqD2MzptfchAEiM?si=Ous-HHsdRS6H7ANkrFErIA" target="blank"><img src="{% static 'img/Vector.png'%}" alt="Spotify"></a>
                    <a class="col" href="https://www.linkedin.com/in/abhiprayatj/" target="blank"><img src="{% static 'img/Linked In.png'%}" alt="LinkedIn"></a>
                    <a class="col" href="https://www.instagram.com/prayatj/?hl=en" target="blank"><img src="{% static 'img/IG.png'%}" alt="Instagram"></a>
                </div>
            </div>
            <div id="flex-container-2" class="row">
                <div id="about-me" class="col-sm-6">
                    <h2>About me</h2>
                    <p>I am an aspiring Information Systems Student in Universitas Indonesia. Currently constantly learning and improving myself to hopefully better the world. I wish to contribute to bring advancements to humanity while being a joy with my music</p>
                </div>
                <div class="col-2 col-sm-0 col-md-0"></div>
                
                    <div id="skills" class="col-sm-2">
                        <h2>Skills</h2>
                        <ul>
                            <li>Java</li>
                            <li>Python</li>
                            <li>HTML</li>
                            <li>CSS</li>
                        </ul>
                    </div>
                    <div id="hobbies" class="col-sm-2">
                        <h2>Hobbies</h2>
                        <ul>
                            <li>Music</li>
                            <li>Traveling</li>
                            <li>Gaming</li>
                        </ul>
                    
                </div>
            </div>
        </div>
    </section>

    <div class="work" id="work">
        <div id="work-header" class="row">
            <h2 class="col">My recent work</h2>
            <a href="https://drive.google.com/file/d/19cydxaMa3BagnGXLxGKAlQX4F4DnzzdH/view?usp=sharing" class="btn-1" target="blank" class="col">get my full resume</a>
        </div>

        <div class="work-content">
            <h3>Arts and Cultures Staff at BEM Fasilkom UI</h3>
            <h4 class="italic">February 2019 - Now</h4>
            <p class="light">I manage and develop Fasilkom students' talents and passion in the art sector by holding various events that enables expression and creativity.</p>
            <img src="{% static 'img/Rectangle 2.png'%}" alt="">
            
            <h3>Event Staff at Computers Get Together 2019</h3>
            <h4 class="italic">February 2019 - May 2019</h4>
            <p class="light">I created and managed events with a team in a family-valued internal event.</p>
            <img src="{% static 'img/Rectangle 2.png'%}" alt="">
            
            <h3>Event Staff at BETIS</h3>
            <h4 class="italic">January 2019 - May 2019</h4>
            <p class="light">I created and managed events with a team for a free cram school program</p>
            

        </div>
    </div>

   {% endblock %}