
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="schedule">

<div class="container" id="small-container"> 
    {% if list_of_schedules %}
        <h2>My Agenda</h2>
        {% for agenda in list_of_schedules %}
        <div class="row"> 
            <div class="col-10">    
                <div class="row">
                    <div class="col-10">
                        <p>{{ agenda.Name_Of_Activity }} @ {{ agenda.Place }} <br> on {{ agenda.Date_and_time }}
                        <br>Category: {{ agenda.Category }}
                        </p>
                    </div>
                    <div class="col">
                        <form action="{% url 'schedule' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" value="{{ agenda.id }}" name="id"/>
                            <input type="image" class="py-4 float-right" type="submit" src="{% static 'img/cross.png'%}" value="Delete" width="16px" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>

<div class="container" id="small-container">
<h2>Create New Agenda</h2>
<form method="POST">

    {% csrf_token %}
    
    {{ scheduleform }}

    <script>
            $(function () {
              $("#datetimepicker").datetimepicker();
            });
          </script>

    <input type="submit" class="btn btn-primary btn-lg btn-block my-3" value="save schedule">
</form>
</div>
</div>

{% endblock %}