/* UTILITY */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #FEF9F6;
    
}


.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
}

.container-fluid {
    background-color: #303030;
}

.orange-wrapper {
    background: #F79D5C;
    padding: 40px;
     
}

.img-wrapper {
    max-width: 1200px;
    margin: auto;
    overflow: auto;
    position: relative;
    top: -150px;
}

.right {
    text-align: right;
}

.light {
    font-weight: 300
}

.italic {
    font-style: italic;
}

.btn-1 {
    text-decoration: none;
    font-size: 32px;
    color: white;
    background: #006194;
    padding: 10px 30px;
    border-radius: 50px;  
    transition: background-color 0.5s ease;
    
}

.btn-1:hover {
    color: #fff;
    background: #00a6ff;
    text-decoration: none;
    cursor: pointer;
}

.black-bg {
    background: #303030;
}

#embed-wrapper {
    max-width: 1000px;
}


/* HEADER */

header {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    
}


header h1 {
    color: #303030;
    font-size: 70px;
    font-weight: 600;
    line-height: 109.4%;
}

header #first {
    padding-top: 111px;
}

header #last {
    padding-bottom: 111px;
}

header a {
    text-decoration: none;
    color: #303030;
    padding: 50px 30px 30px 30px;
    font-size: 32px;
    font-weight: 600px;
    transition: color 0.5 ease;
}

header a:hover {
    text-decoration: none;
    font-weight: 800;
    color: #303030;

}

/* SECTION!!! */

#profile {
    position: relative;
    top: -140px;
    
}

section {
    position: relative;
    background: #F79D5C;
    margin-top: 160px;
    color: #FEF9F6;
    max-height: 1000px;
    
}

section #profile-pic {
    display: block;
    width: 100%;
    margin: auto;
    padding: 30px;
    

}

section h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 800;
}

section h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
}

section h3 {
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
}

#flex-container-1 {
    padding-bottom: 50px;
}

#social-media a{
    padding: 10px;
}

#flex-container-2 p, li {
    font-family: 'Nunito Sans', sans-serif;
    list-style: none;
    font-size: 22px;
}

#flex-container-2 h2 {
    font-weight: 600;
    font-size: 32px;
}

/* WORK */

.work {
    max-width: 740px;
    margin: auto;
    text-align: center;
    color: #303030;
    padding-bottom: 77px;
    
}

#work-header {
    padding: 77px 0;
    text-align: justify;
    font-family: 'Nunito', sans-serif;
}

#work-header h2 {
    font-size: 40px;
    font-weight: 600;
    padding-top: 15px;
}

.work-content h3 {
    font-size: 32px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}

.work-content h4 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 22px;
}

.work-content img {
    padding: 10px 0 20px 0;
    
}

.work-content p {
    font-size: 22px;
}

/* footer */

footer {
    color: #FEF9F6;
}
footer #pic{
    padding-right: 0;
    
}

#contact-info {
    margin: auto 0 auto 0;
    padding-left: 10%;
    
}

#contact-info h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 30px;
}

#contact-info p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 24px;
}

/* Music */

iframe {
    width: 100%;
    height: 350px;
    
}

#musical-header {
    color: #FEF9F6;
}

#home-button {
    position: fixed;
    right: 85vw;
    bottom: 82vh;
    z-index: 1;
}

#home-button img{
    width: 40px;
    position: relative;
    bottom: 5px;
    
}

#music-desc {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    padding: 60px;
    font-size: 24px;
     
    
}

#musical-content {
    background: #FEF9F6;
    font-family: 'Nunito Sans', sans-serif;
}

#musical-content h2 {
    font-size: 40px;
    font-weight: 600;
}

#musical-content p {
    font-size: 18px;
}

.music-story {
    margin: auto 0;
}

.music-story h2 {
    padding: 5px 0 25px 0;
}
